.app-wrapper.softwarepage-wrapper {
  .mg-list {
    height: 100%;
    display: block;
    li {
      // background-color: red;

      /* width: 20vw;
      &:nth-child(3n) {
        margin-right: 10px;
      } */
    }
  }
}
